.headerSettings{
    text-align: left;
}
.titleSettings{
    margin-top: 10px;
    display: inline-block;
}
.iconSettings{
    margin-right: 10px;
}

.btnBack{
    float: left;
}

.contentSection{
    padding-left:10px;
    padding-right:10px;
    // border: solid 1px black;
}