<ion-header class="headerSettings">
    <ion-toolbar>
        <ion-button class="btnBack" fill="clear" color="medium" (click)="goBack()">
            <ion-icon name="arrow-round-back"></ion-icon>
        </ion-button>
      <ion-title class="titleSettings">About Us</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
    <ion-card>
      <img class="card-img" src="assets/img/workout1.jpg"/>
  </ion-card>
  
    <div class="contentSection">
      <p>Welcome to Fitness & Nutrition: Women
        <br>
        Here, you can find various workout that are suitable for women and food recipes created just for you!
      </p>
    </div>
  
  </ion-content>
  
  