.headerSettings{
    text-align: left;
}
.titleSettings{
    margin-top: 10px;
    display: inline-block;
}
.iconSettings{
    margin-right: 10px;
}

.btnBack{
    float: left;
}

.col{
    text-align: left;
    display: inline-block;
}