<!-- <ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">

      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>

    </ion-tab-button>

    <ion-tab-button tab="workout">

      <ion-icon name="fitness"></ion-icon>
      <ion-label>Workout</ion-label>

    </ion-tab-button>

    <ion-tab-button tab="nutrition">

      <ion-icon name="nutrition"></ion-icon>
      <ion-label>Nutrition</ion-label>

    </ion-tab-button>

    <ion-tab-button tab="profile">

      <ion-icon name="person"></ion-icon>
      <ion-label>Profile</ion-label>

    </ion-tab-button>


  </ion-tab-bar>



</ion-tabs> -->

<ion-tabs>

    <!-- <ion-tab-bar tab="home">
      <ion-router-outlet name="home"></ion-router-outlet>
    </ion-tab-bar>
    <ion-tab-bar tab="workout">
      <ion-router-outlet name="fitness"></ion-router-outlet>
    </ion-tab-bar>
    <ion-tab-bar tab="nutrition">
      <ion-router-outlet name="nutrition"></ion-router-outlet>
    </ion-tab-bar>
    <ion-tab-bar tab="profile">
        <ion-router-outlet name="person"></ion-router-outlet>
      </ion-tab-bar> -->
  
  
    <ion-tab-bar slot="bottom">
  
      <!-- <ion-tab-button tab="home" href="/tabs/(home:home)"> -->
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
  
      
      <!-- <ion-tab-button tab="workout" href="/tabs/(workout:workout)"> -->
      <ion-tab-button tab="workout">
        <ion-icon name="fitness"></ion-icon>
        <ion-label>Workout</ion-label>
      </ion-tab-button>
  
      <!-- <ion-tab-button tab="nutrition" href="/tabs/(nutrition:nutrition)"> -->
      <ion-tab-button tab="nutrition">
        <ion-icon name="nutrition"></ion-icon>
        <ion-label>Nutrition</ion-label>
     </ion-tab-button>
  
     <!-- <ion-tab-button tab="profile" href="/tabs/(profile:profile)"> -->
      <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profile</ion-label>
     </ion-tab-button>
  
  
    </ion-tab-bar>
  
  </ion-tabs>

