<ion-header class="headerSettings">
  <ion-toolbar>
      <ion-button class="btnBack" fill="clear" color="medium" (click)="goBack()">
          <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
    <ion-title class="titleSettings">Meal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img class="card-img" src={{image}} ngDefaultControl/>
</ion-card>

<ion-list>
  <ion-item>
      <ion-icon class="iconSettings" name="information"></ion-icon>
    <!-- <ion-label>Dumbbell row</ion-label> -->
    <p>{{title}}</p>
  </ion-item>

  <ion-item>
      <!-- <ion-icon class="iconSettings" name="body"></ion-icon> -->
      <ion-grid>
          <ion-row class="titles">ingredients</ion-row>
          <ion-row><p>{{ingredients}}</p></ion-row>
      </ion-grid>
    
  </ion-item>

  <ion-item>
      <!-- <ion-icon class="iconSettings" name="checkmark"></ion-icon> -->
    <!-- <p [(ngModel)]="description" ngDefaultControl>{{description}}</p> -->
    <ion-grid>
        <ion-row class="titles">instruction</ion-row>
        <ion-row><p>{{instruction}}</p></ion-row>
    </ion-grid>
    
  </ion-item>
</ion-list>

</ion-content>

