<ion-header class="headerSignUp">
  <ion-toolbar>
      <ion-button class="btnBack" fill="clear" color="medium" (click)="showHome()">
          <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
    <ion-title class="titleSignUp">Back to Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list lines="none">
        <ion-list-header>
          <ion-label class="pageTitle">
            <h1>Sign Up</h1>
          </ion-label>
        </ion-list-header>
  
        <form [formGroup]="signUpForm" (submit)="signUp(signUpForm.value)">
          
          <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input type="email" placeholder="you@domail.com" name="email" formControlName="email"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label position="stacked">Password</ion-label>
              <ion-input type="password" placeholder="minimum 6 characters" name="password" formControlName="password"></ion-input>
          </ion-item>


            <ion-button color="medium" expand="block" class="signup" type="submit" [disabled]="!signUpForm.controls.email.valid || !signUpForm.controls.password.valid">Sign Up</ion-button>
  
        </form>
        
          <ion-item>
              
            <p class="signinCss">Already have an account?</p>
                <ion-button class="btnBack" fill="clear" color="medium" (click)="showSignIn()">
                    Sign in
                </ion-button>
            
          </ion-item>
      </ion-list>

</ion-content>
