.titles{
    margin-left: 15px;
    margin-top: 8px;
    font-size: 16px;
    color: #DD7975;
}

.sub-titles{
    margin-left: 15px;
    margin-top: 2px;
    font-size: 14px;
    color: #4d4d4d;
}

.card-img{
    height:150px;
}

.card-title{
    margin-left: 3px;
    margin-top: 3px;
    font-weight: bold;
}
.card-subtitle{
    margin-left: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
}