.headerSettings{
    text-align: left;
}
.titleSettings{
    margin-top: 10px;
    display: inline-block;
}
.btnSettings{
    float: right;
}

.btnBack{
    float: left;
}

.iconSettings{
    margin-right: 10px;
}

.titles{
    margin-top: 8px;
    font-size: 16px;
    color: #DD7975;
}