.headerSettings{
    text-align: left;
}
.titleSettings{
    margin-top: 10px;
    display: inline-block;
}
.btnSettings{
    float: right;
}

.btnBack{
    float: left;
}

.iconSettings{
    margin-right: 10px;
}