<ion-header class="headerSettings">
  <ion-toolbar>
      <ion-button class="btnBack" fill="clear" color="medium" (click)="showProfile()">
          <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
    <ion-title class="titleSettings">Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>
        <!-- <ion-item *ngIf="showProf" (click)="showProfile()">
            <ion-icon class="iconSettings" name="person"></ion-icon>
          <ion-label>Your Profile</ion-label>
        </ion-item> -->
        <ion-item (click)="showAboutUs()">
            <ion-icon class="iconSettings" name="information"></ion-icon>
          <ion-label>About Us</ion-label>
        </ion-item>
        <ion-item  (click)="showContact()">
            <ion-icon class="iconSettings" name="mail"></ion-icon>
          <ion-label>Contact Us</ion-label>
        </ion-item>
      </ion-list>
      <div class="divLogOut" *ngIf="showBtn">
          <ion-button class="btnLogOut" fill="clear" color="medium" (click)="signOut()">
              Log Out
          </ion-button>
      </div>
      

</ion-content>
